# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Streamlit local files
.streamlit/

# Large pickle files (don’t push to GitHub)
Assets/movies.pkl
Assets/similarity.pkl