# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
.env
.venv/
venv/
ENV/
env/
*.env

# Streamlit secrets
.streamlit/secrets.toml

# macOS
.DS_Store

# Logs
*.log

# Python packaging
*.egg
*.egg-info/
dist/
build/

# IDE / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter notebooks checkpoints
.ipynb_checkpoints/


